@require '../lib/vars.styl'

.Posts
  padding spaceline
  a
    display block
    padding 10px 0
    color white
    &:hover
      color react-blue
      text-decoration underline

.Post
  padding spaceline
