@require '../lib/vars.styl'

.Pricing
  display block

.page
  composes page from './App.styl'

.siteTitle
  composes siteTitle from './App.styl'

.banner
  background url(./couple.jpg) no-repeat black
  background-size cover
  padding 110px spaceline
  h1
    color white
    font-weight 100
    margin 0
  p
    font-weight 300
